{% extends 'base.html' %}
{% load static %}

{% block custom_css %}
    <link href="{% static 'plugins/bower_components/typeahead.js-master/dist/typehead-min.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Wellcome {{ request.user.name }}</h4></div>
        {#                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"><a href="" target="_blank"#}
        {#                                                                     class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">Buy#}
        {#                    Now</a>#}
        {#                    <ol class="breadcrumb">#}
        {#                        <li><a href="#">Dashboard</a></li>#}
        {#                        <li><a href="#">Form Elements</a></li>#}
        {#                        <li class="active">Typehead page</li>#}
        {#                    </ol>#}
        {#                </div>#}
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <form id="prescription_form">
                    <h3 class="box-title m-b-0">لیست دارو ها</h3>
                    <p class="text-muted m-b-30 font-13">لطفا پس از وارد کردن اطلاعات بیمار، لیست داروهای وی را
                        از لیست انتخاب کنید و تایید نسخه را بزنید.</p>
                    {{ form.national_code.label_tag }}{{ form.national_code }}
                    {{ form.mobile_number.label_tag }}{{ form.mobile_number }}
                    <button id="prescription_form" type="submit"
                            class="btn btn-success waves-effect waves-light m-r-10">تایید
                    </button>
                    <div id="drug-input">
                        <input class="typeahead form-control" type="text" placeholder="Enter Drug Name...">
                    </div>
                </form>

                <div class="table-responsive mt-4">
                    <table class="table color-bordered-table inverse-bordered-table">
                        <thead>
                        <tr>
                            <th>Code #</th>
                            <th>English Name</th>
                            <th>Persian Name</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_js %}
    <script src="{% static 'plugins/bower_components/typeahead.js-master/dist/typeahead.bundle.min.js' %}"></script>

    <script>
        const url = {% url 'pharmacy:send_data' %};
        $(document).ready(function () {
            var drugs = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/send_data/?q=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#drug-input .typeahead').typeahead(null, {
                name: 'drugs',
                display: 'name_en',
                source: drugs,
                templates: {
                    empty: [
                        '<div class="empty-message">',
                        'unable to find any drug that match the current query',
                        '</div>'
                    ].join('\n'),
                    suggestion: function (data) {
                        return `<p>${data.name_en} - <strong>${data.code}</strong></p>`;
                    }
                }
            }).on('typeahead:select', function (e, item) {
                $('table tbody').append(
                    `<tr data-id="${item.id}">
                        <td>${item.code}</td>
                        <td>${item.name_en}</td>
                        <td>${item.name_fa}</td>
                        <td class="text-nowrap"><a class="close-this cursor-pointer"> <i class="fa fa-close text-danger"></i> </a> </td>
                    </tr>`);
                $('.typeahead').typeahead('val', '');
            });

            $(document).on('click', '.close-this', function () {
                $(this).closest('tr').remove();
            });


            $(document).on('submit', '#prescription_form', function (event) {
                console.log('hi there')
                event.preventDefault();
                {#let selected_drugs = $('option:selected', this)#}
                {#console.log(selected_drugs)#}
                const rows = document.querySelectorAll('tr[data-id]');
                const ids = [];


                let form = $('#prescription_form')[0]
                var formData = new FormData(form);

                rows.forEach(row => {
                    const itemId = row.getAttribute('data-id');
                    {#ids.push(itemId);#}
                    formData.append('drugs', itemId);

                });

                {#console.log(ids);#}

                var count = ids.length;
                console.log(count)

                {#var formData = $(this).serialize();#}
                console.log(this)


                {#const url = {% url 'pharmacy:generate_prescription' %}#}
                {#    console.log(url)#}
                console.log(formData)
                for (const [key, value] of formData.entries()) {
                    console.log(key, value);
                }

                $.ajax({
                    url: '/generate/',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        console.log(response.link);
                        $('#qrcode').load(document.URL + '#qrcode')
                        $('#qrcode-container img').attr('src', response.link);
                        $('#qrcode-container').css('display', 'unset')

                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>
{% endblock %}