{% extends 'base.html' %}
{% load i18n %}
{% load qr_code %}

{% block title %}{% trans 'لیست داروها' %}{% endblock %}

{% block content %}
    <h1>Hello!</h1>
    <form id="prescription_form">
        <div style="display: none">
            {{ form.drugs }}
        </div>
        {{ form.mobile_number }}
        {{ form.mobile_number.label_tag }}

        <div id="prescription">
            <h3>Selected drugs:
                <button type="submit">{% trans 'تایید نسخه' %}</button>
            </h3>
            <ul>

            </ul>
        </div>

        <div id="qrcode-container" style="display: none">
{#            <img src="#}
{% qr_from_text qrcode_url %}
{#">#}
        </div>

    </form>
    <table id="drugs" class="display" style="width:100%">
        <thead>
        <tr>
            <th>Code</th>
            <th>Fa Name</th>
            <th>En Name</th>
            <th>description</th>
            <th>Operation</th>
        </tr>
        </thead>
        <tbody>
        {% for drug in drugs %}
            <tr data-id="{{ drug.id }}">
                <td>{{ drug.id }}</td>
                <td>{{ drug.name_fa }}</td>
                <td class="name">{{ drug.name_en }}</td>
                <td>{{ drug.description }}</td>
                <td>
                    <button class="btn btn-primary select-btn">Select</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block custom_js %}
    <script>
        $(document).ready(function () {
            $('#drugs').DataTable();
            $('#id_drugs option').hide()
        });


        $(document).ready(function () {
            $(".select-btn").click(function () {
                var drug = $(this).closest('tr')
                var did = drug.data('id')
                var name = drug.find('.name').text();
                let is_selected = $(this).text() == 'Select'
                $(this).fadeOut(function () {
                    $(this).text(is_selected ? 'Un Select' : 'Select').fadeIn();
                })

                $('#id_drugs option[value=' + did + ']').prop('selected', true);

                if (is_selected) {
                    $('#prescription ul').append(`<li data-id=${did}>` + name + '</li>');

                } else {
                    $('#prescription li[data-id="' + did + '"]').remove();
                }
            })
        });


        $(document).on('submit', '#prescription_form', function (event) {
            console.log('hi there')
            event.preventDefault();
            let selected_drugs = $('option:selected', this)
            console.log(selected_drugs)

            var count = selected_drugs.length;
            console.log(count)

            {#var formData = $(this).serialize();#}
            console.log(this)

            let form = $('#prescription_form')[0]
            var formData = new FormData(form);
            {#const url = {% url 'pharmacy:generate_prescription' %}#}
            {#    console.log(url)#}
            console.log(formData)

            $.ajax({
                url: '/generate/',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    console.log(response.link);
                    $('#qrcode').load(document.URL+'#qrcode')
                     $('#qrcode-container img').attr('src', response.link);
                    $('#qrcode-container').css('display', 'unset')

                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    </script>
{% endblock %}