{% load static %}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Pharmacy Purchase Information</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bootstrap/dist2/css/bootstrap.min.css' %}">
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-sm mt-5">
                <div class="card-header bg-light">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <img src="{% static 'images/logo.png' %}" alt="Pharmacy Logo" class="img-fluid" width="80">
                        </div>
                        <div class="col-sm-6">
                            <p class="text-end mb-0">Date: {{ prescription.created|date }}</p>
                        </div>
                        <div class="col">
                            <h1 class="h4 mb-0">Daroogar</h1>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td>Patient National Code: </td>
                                    <td>{{ prescription.national_code }}</td>
                                </tr>
                                <tr>
                                    <td>Mobile Number: </td>
                                    <td>{{ prescription.customer.mobile_number }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <h2 class="h5 mb-3">Drug Information</h2>
                            <ul class="list-group">
                                {% for drug in prescription.drugs.all %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <div>
                                            <span class="fw-bold">{{ drug.name_en }}</span>
                                            <p class="mb-0">{{ drug.description }}</p>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'bootstrap/dist2/js/bootstrap.min.js' %}"></script>
</body>
</html>

{#<!DOCTYPE html>#}
{#<html>#}
{#  <head>#}
{##}
{#<meta charset="UTF-8">#}
{#    <link rel="stylesheet" type="text/css" href="styles.css">#}
{#  </head>#}
{#  <body>#}
{#    <div class="header">#}
{#      <img src="pharmacy_logo.png" alt="Pharmacy Logo">#}
{#      <h1>داروگر</h1>#}
{#    </div>#}
{#    <div class="patient-info">#}
{#      <table>#}
{#        <tr>#}
{#          <td>National Code</td>#}
{#          <td>123456789</td>#}
{#        </tr>#}
{#        <tr>#}
{#          <td>Mobile Number</td>#}
{#          <td>123-456-7890</td>#}
{#        </tr>#}
{#      </table>#}
{#    </div>#}
{#    <div class="purchase-info">#}
{#      <h2>Date: July 7, 2023</h2>#}
{#      <ul>#}
{#        <li>Drug 1</li>#}
{#        <li>Drug 2</li>#}
{#        <li>Drug 3</li>#}
{#      </ul>#}
{#    </div>#}
{#  </body>#}
{#</html>#}